---
layout: default
title: Home
---
{% include JB/setup %}

<section class="posts">
  <h2>Blog</h2>
  <p>
    Articles on design, code and craftsmanship on an infrequent schedule.
    Stay updated on <a href="http://twitter.com/cabgfx">twitter</a> or <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">grab the feed</a>.
  </p>

  {% for post in site.posts %}
    <article>
      <header>
        <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        <p>
          <time datetime="{{ post.date }}" pubdate="pubdate">{{ post.date | date_to_long_string }}</time> &mdash;
          <span class="meta">
            Reading time: {{ post.reading_time }}

            {% unless post.tags == empty %}
              | Posted in:
              {% for tag in post.tags %}
                <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
              {% endfor %}
            {% endunless %}      
          </span>
        </p>
      </header>
    </article>
  {% endfor %}
</section>

<section class="presence">
  <h3>About</h3>
  <p>
    I live in Copenhagen, Denmark with <a href="http://evak.dk" title="EvaK.dk - my wife's beauty blog. In danish.">my lovely wife</a> and our wonderful son.
    I enjoy the privilege of doing what I love every day, as the owner of <a href="http://www.dukeux.com">Duke UX</a> – a tiny design &amp; development studio I founded in Sep. 2012.
  </p>
  <p>
    My day-to-day work is concerned with tweaking interfaces and code to form products that matter to people.
  </p>

  <h3>Elsewhere</h3>
  <ul>
    <li><a href="http://zerp.ly/cabgfx" data-icon="zerply" title="LinkedIn is kinda old skool, but you can find me on there as well.">Professional timeline on <strong>Zerply</strong></a></li>
    <li><a href="http://twitter.com/cabgfx" data-icon="twitter">Navel-gazing &amp; link-shuffling on <strong>twitter</strong></a></li>
    <li><a href="http://dribbble.com/cabgfx" data-icon="dribbble">UI snapshots on <strong>dribbble</strong></a></li>
    <li><a href="https://github.com/cabgfx" data-icon="github">Forays into open source hackery on <strong>GitHub</strong></a></li>
    <li><a href="http://www.quora.com/Casper-Klenz-Kitenge" data-icon="quora">Sounding clever on <strong>Quora</strong></a></li>
    <li><a href="http://cabgfx.tumblr.com" data-icon="tumblr">Tidbits on <strong>Tumblr</strong></a></li>
    <li><a href="https://medium.com/@cabgfx" data-icon="medium">Short stories on <strong>Medium</strong></a></li>
    <li><a href="http://delicious.com/cabgfx" data-icon="delicious">Bookmarks on <strong>Delicious</strong></a></li>
    <li><a href="http://instagram.com/cabgfx" data-icon="tumblr">Lens flares on <strong>Instagram</strong></a></li>
  </ul>
</section>