---
layout: default
title: Home
---
{% include JB/setup %}

<section class="presence">
  <h2>About</h2>
  <p>
    I live in Copenhagen, Denmark with <a href="http://evak.dk" title="EvaK.dk - my wife's beauty blog. In danish.">my lovely wife</a> and our wonderful son and daughter.
    I enjoy the privilege of doing what I love every day, as Creative Director &amp; Product Manager at <a href="http://www.pilotcph.dk">Pilot</a> – a strategy + design agency I co-founded in July 2015.
  </p>
  <p>
    I split my time between client projects and working on our own products. Most recently, we’ve launched <a href="http://www.wallo.dk/">Wallo</a> &mdash; Instagram&trade; pics, printed and framed.
  </p>

  <h3>Elsewhere</h3>
  <ul>
    <li data-icon="d"><a href="http://dribbble.com/cabgfx" title="Dribbble">UI</a></li>
    <li data-icon="t"><a href="http://twitter.com/cabgfx" title="Twitter">Links</a></li>
    <li data-icon="g"><a href="https://github.com/cabgfx" title="GitHub">Code</a></li>
    <li data-icon="l"><a href="http://www.linkedin.com/in/casperklenzkitenge" title="LinkedIn">Relations</a></li>
  </ul>
</section>

<section class="posts">
  <h2>Blog Archive</h2>

  {% for post in site.posts %}
    <article>
      <header>
        <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        <time datetime="{{ post.date }}" pubdate>{{ post.date | date: '%Y' }}</time>
      </header>
    </article>
  {% endfor %}
</section>
