body {
  $bgSize: 36.015625%;
  @include chrome-border('top');

  margin: 0 auto;
  padding: 0 3% 460px;
  background: $bgColor url('/assets/themes/cabgfx/images/bg.jpg') no-repeat center bottom;
  background-size: auto 460px;
  color: $textColor;
  font: normal 1em/1.5em $basefont;

  @media (min-width: 621px) {
    padding: 2% 10% 2% $bgSize+2%;
    background-size: $bgSize;
    background-position: left bottom;
    background-attachment: fixed;
  }
}

#masthead {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  color: $textColorLight;
  font-size: .9em;
  line-height: 1.5em;

  strong {display: block;}
  a {
    color: $textColor;
    &:hover {@extend a:hover;}
  }
}

#wrapper {overflow: hidden; margin-bottom: 3em;}

footer {
  clear: both;
  color: $textColorLighter;
  font-size: .75em;

  a:link, a:visited {color: $textColorLight;}
}
