body {
  margin: 0 auto;
  padding: 2% 3%;
  min-width: 10em;
  max-width: 40em;
  background: $figColor;
  color: $textColor;
  font: normal 1em/1.5em $basefont;

  @include chrome-border('top');

  @media (max-width: 767px) {font-size: .9em;}
  @media (min-width: 769px) {max-width: 70%;}
  @media (min-width: 1200px) {font-size: 1.2em;}
}

#masthead {
  @include section-border('bottom');

  position: relative;
  padding-top: 1em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  color: $textColorLight;
  font-size: .9em;
  line-height: 1.5em;

  strong {display: block;}
  a {
    color: $textColor;
    &:hover {@extend a:hover;}
  }

  @media (max-width: 767px) {
    margin-bottom: 1em;
  }  
}

#wrapper {overflow: hidden; margin-bottom: 3em;}

footer {
  clear: both;
  color: $textColorLight;
  font-size: .8em;
  @include chrome-border('top');
}