.presence {
  & {margin-bottom: 1.9em;}

  p {
    line-height: 1.5em;
    color: $textColorLight;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 14px;

    li {
      display: inline-block;
      margin: 0 1em .5em 0;
    }

    li[data-icon]:before {
      font-size: 1.8em;
      vertical-align: middle;
      margin-right: .15em;
      color: $textColorLighter;
    }

    a {
      color: $textColorLighter;
      &:hover {color: darken($linkColorVisited, 15%);}
    }
  }
}

.posts {
  article + article {margin-top: 10px;}
  article header {
    > * {display: inline-block; font: normal 1em/1em $basefont;}
    h3 {margin: 0;}
    time {color: $textColorLighter; font-size: .8em;}
  }
}
