.posts article, .single-post .content {
  &:after {
    content: '\221E';
    display: block;
    color: $lightColor;
    font-size: 2em;
    text-align: center;
  }
}

.single-post {
  position: relative;

  .content {
    font-size: 1.1em;
    line-height: 1.6em;
  }

  @media (max-width: 1023px) {
    time:after {content: ' \2014 ';}
  }

  @media (min-width: 1024px) {
    padding: 0 18%;
  
    aside {
      font-size: .8em;
      color: $textColorLight;

      .meta {position: absolute; top: .4em; width: 16%;}
      time {left: 0;}
      span {right: 0;}
    }
  }
}

figure {
  text-align: center;

  img {
    display: block;
    margin: 0 auto .5em;
    padding: 1em;
    background: #fff;
    border: 1px solid desaturate(lighten($textColorLight, 50%), 50%);

    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
  }

  figcaption {
    display: block;
    margin: 0 auto 2em;
    color: $textColorLight;
    font-size: .8em;
    font-style: italic;
  }
}