.posts article, .single-post .content {
  &:after {
    content: '\221E';
    display: block;
    color: $lightColor;
    font-size: 2em;
    text-align: center;
  }
}

.single-post {
  position: relative;

  .content {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  @media (max-width: 1023px) {
    time:after {content: ' \2014 ';}
  }

  @media (min-width: 1024px) {
    padding: 0 18%;
  
    aside {
      font-size: .8em;
      color: $textColorLight;

      .meta {position: absolute; top: .4em; width: 16%;}
      time {left: 0;}
      span {right: 0;}
    }
  }
}