$bgColor: #cabcab;
$figColor: #f8fcf9;
$lightColor: #d7cdc0;

$textColor: #000;
$textColorLight: #322A1F;

$linkColor: #de5c02;
$linkColorVisited: desaturate($linkColor, 55%);

$sectionBorderColor: lighten(desaturate($lightColor, 5%), 10%);

@mixin base-text-shadow {
  text-shadow: 0 1px 0 $lightColor;
}

@mixin section-border($direction) {
  border-#{$direction}: 1px solid $sectionBorderColor;
}

@mixin chrome-border($direction) {
  border-#{$direction}: 3px solid #191510;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}