article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #322a1f;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #322a1f;
  color: #fff;
  text-shadow: none; }

a {
  color: #de5c02;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }

a:visited {
  color: #a06740; }

a:hover, #masthead a:hover {
  color: #fd6d09;
  text-decoration: underline; }

a:focus {
  outline: thin dotted; }

a:hover, #masthead a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

html {
  background: #cabcab; }
  @media (min-width: 480px) {
    html {
      background: #cabcab url(../images/bgpattern.png); } }

body {
  margin: 0 auto;
  padding: 2% 3%;
  min-width: 10em;
  max-width: 40em;
  background: #f8fcf9;
  color: black;
  font: normal 1em/1.5em "proxima-nova", sans-serif;
  border-top: 3px solid #191510;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), -2px 0 0 white inset, 2px 0 0 white inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), -2px 0 0 white inset, 2px 0 0 white inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), -2px 0 0 white inset, 2px 0 0 white inset; }
  @media (max-width: 767px) {
    body {
      font-size: .9em; } }
  @media (min-width: 768px) {
    body {
      max-width: 80%; } }
  @media (min-width: 1200px) {
    body {
      font-size: 1.2em; } }

#masthead {
  position: relative;
  padding-top: 1em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  color: #322a1f;
  font-size: .9em;
  line-height: 1.5em;
  border-bottom: 1px solid #eae6e0; }
  #masthead strong {
    display: block; }
  #masthead a {
    color: black; }
  @media (max-width: 767px) {
    #masthead {
      margin-bottom: 1em; } }

#wrapper {
  overflow: hidden;
  margin-bottom: 3em; }

footer {
  clear: both;
  color: #322a1f;
  font-size: .8em;
  border-top: 3px solid #191510; }

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.5em;
  font-family: "ff-meta-serif-web-pro", sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.1em; }

blockquote {
  padding: 0 0 0 15px;
  margin: 1.25em 0 1.25em 1.25em;
  color: #56514e;
  font-family: "ff-meta-serif-web-pro", sans-serif; }
  blockquote p {
    margin-bottom: 0;
    font-style: italic;
    font-size: 110%; }
  blockquote cite {
    display: block;
    line-height: 1em;
    color: #322a1f;
    font-size: 80%; }
    blockquote cite:before {
      content: '\2014 \00A0'; }

.callout {
  font-size: .8em;
  font-style: italic; }
  .callout strong {
    display: block;
    font-style: normal; }

.footnotes {
  padding: 1em 0;
  list-style-position: inside;
  color: #322a1f;
  font-size: .8em;
  border-top: 1px solid #eae6e0; }
  @media (min-width: 1024px) {
    .single-post .footnotes {
      list-style-position: outside; } }

sup a {
  border: 0; }

pre, code, kbd, samp {
  color: #888; }

.posts {
  width: 60%;
  float: left; }
  .posts > h2 {
    margin-bottom: 0; }
    .posts > h2 + p {
      margin: 0 0 2em;
      padding-bottom: 1em;
      border-bottom: 1px solid #eae6e0; }
  .posts article header h3 {
    margin-bottom: 0; }
  .posts article header p {
    margin-top: 0;
    color: #322a1f;
    font-size: .8em; }

.presence {
  width: 30%;
  float: right; }
  .presence p {
    font-size: .8em;
    line-height: 1.5em;
    color: #322a1f; }
  .presence ul {
    list-style: none;
    padding: 0;
    font-size: .8em; }
    .presence ul a strong {
      color: #a06740; }
    .presence ul a:hover strong, .presence ul #masthead a:hover strong, #masthead .presence ul a:hover strong {
      color: #6a442a; }
    @media (max-width: 479px) {
      .presence ul li {
        margin-bottom: 1em; } }

@media (max-width: 767px) {
  .posts, .presence {
    float: none;
    width: 100%; } }
.posts article:after, .single-post .content:after {
  content: '\221E';
  display: block;
  color: #d7cdc0;
  font-size: 2em;
  text-align: center; }

.single-post {
  position: relative; }
  .single-post .content {
    font-size: 1.1em;
    line-height: 1.5em; }
    .single-post .content li + li {
      margin-top: 1em; }
  @media (max-width: 1023px) {
    .single-post time:after {
      content: ' \2014 '; } }
  @media (min-width: 1024px) {
    .single-post {
      padding: 0 18%; }
      .single-post aside {
        font-size: .8em;
        color: #322a1f; }
        .single-post aside .meta {
          position: absolute;
          top: .4em;
          width: 16%; }
        .single-post aside time {
          left: 0; }
        .single-post aside span {
          right: 0; } }

figure {
  text-align: center; }
  figure img {
    display: block;
    margin: 0 auto .5em;
    padding: 1em;
    background: #fff;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  figure figcaption {
    display: block;
    margin: 0 auto 2em;
    color: #322a1f;
    font-size: .8em;
    font-style: italic; }

#disqus_header {
  margin-top: 40px;
  border-bottom: 1px solid #eae6e0; }

#dsq-new-post h3 {
  display: none !important; }

.dsq-comment-header {
  background: ligthen(textColorLight, 25%) !important;
  font-size: 1.3em; }

.dsq-moderator-star {
  display: none !important; }

.dsq-comment-message {
  font-size: 1.2em; }

.dsq-options {
  padding-bottom: .5em !important;
  border-bottom: 1px solid #eae6e0 !important; }
